/********************************
GENERAL
*********************************/

body {
  font-family: 'Open Sans', sans-serif;
}

#wrapper {
  width: 85%;
  max-width: 1090px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
}

img {
 max-width: 100%;
}

h1 {
  font-family: 'Droid Serif', sans-serif;
}

h3 {
  margin: 0 0 1em 0;
}


/********************************
HEADING
*********************************/

header {
  margin: 0 0 40px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo {
  text-align: center;
  margin: 0;
}

#name {
  margin: 20px 0;
  font-size: 2.5em;
  font-weight: normal;
  line-height: 0.8em;
  -webkit-transition: color 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
}

h1:hover {
  color: #D4D4D4;
}

h2 {
  font-size: 0.95em;
  margin: -5px 0 0;
  font-weight: normal;
}



/********************************
NAVIGATION
*********************************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-size: 1.1em;
  font-weight: 700;
  padding: 15px 10px;
  -webkit-transition: color 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
}


/********************************
FOOTER
*********************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 100px;
  color: #B0B0B0;
}

.fa {
  margin: 0 15px;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

#linkedin:hover {
  color: #1B86BC;
}

#github:hover {
  color: #333;
}


/********************************
PAGE: PORTFOLIO
*********************************/

#projects {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

#projects li {
  width: 80%;
  margin: 10% auto;
}

#projects h1 {
  color: #222;
  margin: 65px 0;
}

#projects p {
  margin: 4em 0 8em;
}

.project-title {
  padding-left: 30px;
}

.project-img {
  width: 100%;
  margin: auto;
}

.project-img img {
  width: 100%;
}





/********************************
PAGE ABOUT
*********************************/

.profile-photo {
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 100%;
}


/********************************
PAGE: CONTACT
*********************************/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
  background-image: url('../img/twitter.png');
}

#contact-details {
  margin-top:50px;
}

/********************************
COLORS
*********************************/

/* site body */
body {
  background-color: #fff;
  color: #999;
}

/* header */
header {
  background: #9EB1B9;
}

/* nav background on mobile */
nav {
  background-color: #5E7494;
}

/* logo text */
h1, h2 {
 color: #fff;
}

/* links */
a {
  color: #5E7494;
}

/* nav link */
nav a, nav a:visited {
 color: #fff;
}

/* selected nav link */
nav a.selected, nav a.selected:hover {
  color: #A0B8C1;
}

nav a:hover {
  color: #D4D4D4;
}

footer a {
  color: #9EB1B9;
}
