@media screen and (min-width: 480px) {

  /********************************
  TWO COLUMN LAYOUT
  *********************************/

  #primary {
    width: 50%;
    float: left;
  }

  #secondary {
    width: 40%;
    float: right;
  }

  #contact-details {
    margin-top: 0;
  }

  /********************************
  PAGE: ABOUT
  *********************************/

  .profile-photo {
    float: left;
    margin: 0 5% 40px 0;
  }

}

@media screen and (min-width: 700px) {

  /********************************
  PROJECTS
  *********************************/

  #projects {
    margin-bottom: -150px;
  }

  #projects h1 {
    font-size: 2em;
    margin: 65px 0 40px;
  }

  .project-text {
    margin: 4em 0 8em;
    font-size: 1em;
  }

  /********************************
  FOOTER
  *********************************/

  footer {
    padding-top: 175px;
  }

  .social-icon {
    margin: 0 20px;
  }

}

@media screen and (min-width: 900px) {

  header {
    display: flex;
    justify-content: space-between;
    height: 149px;
    margin-bottom: 60px;
    box-shadow: 0px 1px 3px 1px;
  }

  #logo {
    margin-left: 5%;
    text-align: left;
  }

  #name {
    font-size: 2.5em;
  }

  h1 {
    margin-top: 30px;
    font-size: 2.5em;
  }

  h2 {
    margin-bottom: 20px;
    padding: 6px 0 0 15px;
  }

  nav {
    background: none;
    margin: 37px 5% 0 0;
    font-size: 1.125em;
    text-align: right;
  }

  nav a.selected, nav a.selected:hover {
    color: #5E7494;
  }

  nav a:hover {
    color: #D4D4D4;
  }


  #projects {
    margin: 120px auto -150px;
  }

  .project-img {
    -webkit-box-shadow: -2px 2px 7px 1px rgba(44, 44, 44, 0.5);
    box-shadow: -2px 2px 7px 1px rgba(44, 44, 44, 0.5);
  }

  .project-text {
    margin: 64px 0 0;
  }

}


@media screen and (min-width: 1200px) {

  #name {
    font-size: 3.2em;
  }

}
